.li{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.li:hover{
  transform: scale(1.1);
}

ul{
  display: flex;
  gap: 1rem;
  background-color: rgba(0, 128, 0, 0.26);
  border-radius: 10px;
  width: max-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: gray;
  padding: 2rem;
  flex-direction: column;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}
